<p> Confirm email </p>
<form method="post" action="/nodemailer"> 
    <fieldset>

        <!-- Form Name -->
        <legend> Verify your email</legend>

        
        email<input type="text" name = "email" value="email">
        <br>
        <br>
        
        
    </fieldset>
    <input type='submit' class="btn btn-default" id='submit' value='Send confirmation mail'/>
</form>