<p> Set new password</p>
<form method="post" action="/change"> 
    <fieldset>

        <!-- Form Name -->
        <legend> New password</legend>
        Enter email id : <input type = "text" name = "email" value = "email">
        <br>
        <br>
        Enter new password : <input type="password" name = "newPassword" value="new password">
        <br>
        <br>
        Confirm password : <input type="password" name = "confirmPassword" value="confirm password">
        
        
    </fieldset>
    <input type='submit' class="btn btn-default" id='submit' value='Change password'/>
</form>